.progress-label {
  float: left;
  margin-right: 0.2em;
}
.stat-value {
  margin-bottom: 0;
}
#mainCard .card-body {
  padding: 0.5rem;
}
#statsRow .compact-card {
  padding: .40rem 0.75rem !important;
}
#statsRow .col {
  padding-left: 0;
  padding-right: 0;
}
#statsRow .row {
  margin: 0;
}
#statesRow .compact-card {
  padding: .40rem 0.75rem !important;
}
.card .compact-card {
  padding: .40rem 0.75rem !important;
}
.statIcon {
  width: 20px;
}
.coinIcon {
  font-size: 22px;
  margin-left: 15px;
  margin: 10px;
}
hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#moneyRow .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#moneyRow .coinInput {
  padding: .2rem .25rem !important;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 45px;
}
#moneyRow .col {
  padding-right: 0;
  padding-left: 0;
}
