<div class="card w-25">
  <div class="card-body">
    <div class="card-header">
      Base Stats
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{player?.strength}}</li>
      <li class="list-group-item">{{player?.dexterity}}</li>
      <li class="list-group-item">{{player?.charisma}}</li>
      <li class="list-group-item">{{player?.wisdom}}</li>
      <li class="list-group-item">{{player?.intelligence}}</li>
      <li class="list-group-item">{{player?.constitution}}</li>
    </ul>
  </div>
</div>
