<div class="card w-25">
  <div class="card-body">
    <div class="card-header">
      {{player.name}}
      <div class="float-right">XP:{{player.experience}}</div><br>
    </div>
    <div class="row">
      <span class="glyphicon glyphicon-plus"></span>
      {{player.currentHealthPoints}}/{{player.healthPoints}}
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
</div>
