<div class="modal-header">
  <h4 class="modal-title">Item details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="myForm" (ngSubmit)="submitForm()">
  <div class="modal-boy">
    <div class="container">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text"
               class="form-control"
               formControlName="name" [ngbTypeahead]="search" />
      </div>
      <div class="form-group">
        <label for="note">Note</label>
        <input type="text"
               class="form-control"
               formControlName="note" />
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input type="number"
               class="form-control"
               formControlName="quantity" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
            [disabled]="!myForm.valid">
      Submit Form
    </button>
  </div>
</form>
