<div class="jumbotron jumbotron-fluid" *ngIf="playersData?.length == 0">
  <div class="container">
    <h1 class="display-4">No players</h1>
    <p class="lead">When player join session, they will appear here</p>
  </div>
</div>
<div *ngIf="playersData?.length != 0" class="container-flex">
  <div class="row" style="margin-left: 15px; margin-top: 15px">
    <div *ngFor="let currentPlayer of playersData" class="w-25">
      <player-card [playerData]="currentPlayer"></player-card>
    </div>
  </div>
  <div class="row" style="margin-left: 15px; margin-top: 15px">
    <div class="card col" style="padding: 0; margin-right: 10px">
      <h5 class="card-header" style="height: 62.5852px">Logs</h5>
      <div class="card-body" style="padding: 0">
        <div id="logsRow" class="clearfix">
          <ul id="logsList" class="list-group">
            <li *ngFor="let message of activityMessages" class="list-group-item logsEntry">
              <span [style.color]="message.color">{{message.message}}</span>
          </ul>
        </div>
      </div>
    </div>
    <div class="card col" style="padding: 0">
      <div class="card-header">
        <div class="container-flex">
          <div class="row">
            <div class="col w-25">
              <h5 clas>Dice rolls</h5>
            </div>
            <div class="col w-75">
              <div class="btn-group mr-3 float-right" style="margin-left: 60px">
                <button type="button" class="btn btn-outline-success" (click)="rollDice(20)">Roll D20</button>
                <div class="btn-group" ngbDropdown placement="top-right" role="group">
                  <button class="btn btn-outline-primary" ngbDropdownToggle>Roll other</button>
                  <div class="dropdown-menu" ngbDropdownMenu>
                    <button class="dropdown-item" (click)="rollDice(4)">D4</button>
                    <button class="dropdown-item" (click)="rollDice(6)">D6</button>
                    <button class="dropdown-item" (click)="rollDice(8)">D8</button>
                    <button class="dropdown-item" (click)="rollDice(10)">D10</button>
                    <button class="dropdown-item" (click)="rollDice(12)">D12</button>
                    <button class="dropdown-item" (click)="rollDice(20)">D20</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      <div class="card-body" style="padding: 0">
        <div id="diceRow" class="clearfix">
          <ul id="diceList" class="list-group">
            <li *ngFor="let roll of diceRolls" class="list-group-item logsEntry">
              <span>{{roll}}</span>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
