#logsRow {
  border: 1px solid #000;
  font-family: arial;
  height: 200px;
  width: 100%;
}

#logsList {
  list-style: none;
  max-height: 200px;
  margin: 0;
  overflow: auto;
  padding: 0;
  text-indent: 10px;
}

#logsList li {
  padding: 0rem 0.1rem;
}
